/* frontend/src/styles/Categories.css */
.category-container {
  padding: 2vw; /* فاصله پویا */
  text-align: center;
  position: relative;
}

.category-separator {
  width: 100%;
  height: 7px;
  border-radius: 5px;
  background-color: #edc967;
  margin-bottom: 2vw;
}

.category-title-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 2vw;
}

.category-title {
  font-size: 1.5rem;
  font-weight: bold;
  /* color: #4a4a4a; */
  margin: 0;
}

.category-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5vw; /* فاصله پویا بین باکس‌ها */
}

.category-item {
  position: relative;
  border: 2px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  height: 250px;
  width: 100%; /* عرض پویا */
  max-width: 250px; /* حداکثر عرض ثابت */
  margin: 0; /* مارجین صفر، فاصله با gap مدیریت می‌شه */
}

.category-item:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.category-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  filter: brightness(90%);
  box-shadow: inset 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.category-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  text-align: center;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-radius: 0 0 8px 8px;
  opacity: 0;
}

.category-item:hover .category-overlay {
  transform: translateY(0);
  opacity: 1;
}

.category-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.category-button {
  background-color: #edc967;
  color: #263238;
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: none;
  transition: background-color 0.3s ease;
}

.category-button:hover {
  background-color: #d4b04a;
  color: #fff;
}

.see-more-button {
  display: block;
  margin: 2vw auto;
  background-color: #edc967;
  color: #263238;
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: none;
  transition: background-color 0.3s ease;
}

.see-more-button:hover {
  background-color: #d4b04a;
  color: #fff;
}

/* ریسپانسیو برای همه دستگاه‌ها */
@media (min-width: 1024px) {
  .category-item {
    width: 22%; /* حدود 4 ستون */
    max-width: 250px;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .category-item {
    width: 30%; /* حدود 3 ستون */
    max-width: 250px;
  }
}

@media (max-width: 768px) {
  .category-container {
    padding: 1vw;
  }
  .category-title-section {
    justify-content: center;
  }
  .category-separator {
    margin-bottom: 1vw;
  }
  .category-item {
    width: 45%; /* 2 ستون */
    max-width: 250px;
  }
}

@media (max-width: 480px) {
  .category-item {
    width: 100%; /* 1 ستون توی موبایل خیلی کوچک */
    max-width: 250px;
  }
  .category-title {
    font-size: 1rem;
  }
  .category-button {
    padding: 4px 8px;
  }
}