/* frontend/src/App.css */

.App {
  text-align: center;
  padding: 2rem;
  min-height: 100vh;
  background-color: #171928; /* تم دارک */
}

h1 {
  color: #edc967; /* زرد پاستیلی جدید */
}

p {
  color: #b0bec5; /* خاکستری روشن */
}